$icomoon-font-family: "sunset-icon" !default;
$icomoon-font-path: "../fonts" !default;

$sunset-googleplus: "\e90f";
$sunset-facebook: "\e910";
$sunset-twitter: "\e911";
$sunset-mail: "\e912";
$sunset-audio: "\e900";
$sunset-chevron-left: "\e901";
$sunset-chevron-right: "\e902";
$sunset-close: "\e903";
$sunset-comment: "\e904";
$sunset-link: "\e905";
$sunset-loading: "\e906";
$sunset-logo: "\e907";
$sunset-menu: "\e908";
$sunset-pencil: "\e909";
$sunset-pics: "\e90a";
$sunset-search: "\e90b";
$sunset-share: "\e90c";
$sunset-tag: "\e90d";
$sunset-video: "\e90e";
    
$headerTxtColor: #fff;
$headerLinkColor: #fff;

$postTitleColor: #000;
$postTitleHoverColor: #FEC159;
$postMetaColor: #898989;
$postMetaHoverColor: #FEC159;
$postExcerptColor: #000;